appdirs==1.4.4
asttokens==2.4.1
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
clarabel==0.7.1
click==8.1.7
contourpy==1.2.1
cvxpy==1.4.3
cycler==0.12.1
DateTime==5.5
decorator==5.1.1
ecos==2.0.13
empyrial==2.1.4
empyrical==0.5.5
exceptiongroup==1.2.1
executing==2.0.1
Flask==3.0.3
fonttools==4.51.0
fpdf==1.7.2
frozendict==2.4.2
html5lib==1.1
idna==3.7
ipython==8.23.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.0
kiwisolver==1.4.5
lxml==5.2.1
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
multitasking==0.0.11
numpy==1.26.4
osqp==0.6.5
packaging==24.0
pandas==2.2.2
pandas-datareader==0.10.0
parso==0.8.4
peewee==3.17.3
pexpect==4.9.0
pillow==10.3.0
plotly==5.21.0
portfolio-backtest==0.3.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.12.0
Pygments==2.17.2
pyparsing==3.1.2
pyportfolioopt==1.5.5
python-dateutil==2.9.0.post0
pytz==2024.1
qdldl==0.1.7.post2
QuantStats==0.0.62
requests==2.31.0
scikit-learn==1.4.2
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.4.0
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.2
yfinance==0.2.38
zope.interface==6.3