body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2c3e50;
    font-weight: 300;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #7f8c8d;
    font-weight: 500;
}

input[type="text"],
input[type="number"] {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

p {
    color: #2c3e50;
}

/* Pie Chart and Graph Styling */
.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.chart-wrapper {
    flex: 1 0 45%;
}

.chart-container {
    height: auto;
}

#portfolio-graph {
    width: auto;
    height: auto;
}
#portfolio-table {
    width: auto !important; /* Set width to auto to allow the table to adjust based on its content */
}
.plot-container.plotly .svg-container {
    width: 100% !important; /* Set width to 100% */
    max-width: 100%; /* Set max-width to 100% to prevent it from exceeding the container's width */
    margin: 0 auto; /* Center the element horizontally */
}
